<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>安利小卖部 - 待发布安利</title>
  <link rel="stylesheet" href="http://mdui-aliyun.cdn.w3cbus.com/source/dist/css/mdui.min.css"/>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

      <div class="mdui-container-full">

        <div class="mdui-panel mdui-panel-popout" mdui-panel>

          <div class="mdui-panel-item">
            <div class="mdui-panel-item-header">
              <div class="mdui-panel-item-title">{{.Name}}</div>
              <div class="mdui-panel-item-summary">{{.Type}}</div>
              <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>

            <div class="mdui-panel-item-body">
              <p>First content</p>
              <p>First content</p>
              <p>First content</p>
              <p>First content</p>
              <p>First content</p>
              <p>First content</p>
              <div class="mdui-panel-item-actions">
                <button class="mdui-btn mdui-ripple">cancel</button>
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">save</button>
              

<script src="http//mdui-aliyun.cdn.w3cbus.com/source/dist/js/mdui.min.js"></script>
</body>
</html>